/*  your css code here. If applicable */
header{
	border:1px solid;
	background-color:#011e29;
	color:white;
	text-align:center;
	
}
.column{
	float:left;
}
.left, .right{
	width:25%;
}
.middle{
	width:50%;
}