/*  your css code here. If applicable */
header{
	border:1px solid;
	background-color:#011e29;
	color:white;
	text-align:center;
	
}
.column{
	float:left;
}
.left, .right{
	width:25%;
	background-color:grey;
	text-align:center;
	gap:10px;
}
.middle{
	width:50%;
	background-color:grey;
	text-align:center;
\
	gap:10px;
}
.row{
	justify-content:space-between;
}
img{
	width:80%;
}